*{
    padding:0;
    margin:0;
}
body{
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar{
    background: rgba(red, green, blue, alpha);
    text-align: center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color:yellowgreen;
}
.menu-bar ul li{
    width:100px;
    margin:15px;
    padding:15px;
}
.menu-bar  ul li a{
text-decoration: none;
color:black;
}
 .menu-bar ul li:hover{
    background: greenyellow;
    border-radius: 3px;
}
.menu1{
    display: none;
}
.menu-bar ul li:hover .menu1{
    display:block;
    position:absolute;
    background:rgb;
    margin-top: 5px;
    margin-left: -40px;

}
.menu-bar ul li:hover .menu1 ul{
    display:block;
    margin:10px;
   
}
.menu-bar ul li:hover .menu1 ul li{
    width:150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .menu1 ul li:last-child{
border-bottom: none;
}